@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Lexend", sans-serif;
}
.menu li{
    border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease; /* Smooth transition */
}
.menu li:hover{
    border-bottom: 2px solid #0BE58A;

}
.menu li a:hover{
    background-color: transparent;
}
.profile:hover{
background-color: #150B2B;
color: #0BE58A;
}
.explore-btn{
    border: 1px solid transparent;
}
.explore-btn:hover,
.feedback-btn:hover{
    background: transparent;
    border: 1px solid white;
    color: white;
}

.table th, .table td{
    padding-right: 0;
}
